.prompt-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  position: relative;
}

.prompt-form label {
  text-align: left;
  font-size: 2.4rem;
  margin: 0 0 1rem 1rem;
  color: grey;
}

.prompt-form input {
  font-size: 2.4rem;
  border: none;
  height: 4rem;
  padding: 0.5rem 2rem;
  border-radius: 50px;
}

.submit {
  position: absolute;
  right: 3px;
  bottom: 2px;
  padding: 1rem 1.5rem;
  letter-spacing: 0.5px;
  border: none;
  border-radius: 20px;
  background-color: grey;
  color: white;
  transition: all 0.2s;
}

.submit:hover {
  background-color: #212121;
}

/* ========== media query */

@media screen and (max-width: 500px) {
  .prompt-form label {
    text-align: center;
    font-size: 2.2rem;
  }
}
