.responses-container {
  display: flex;
  justify-content: center;
}

.responses {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.response {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #212121;
  border-radius: 15px;
  box-shadow: -3px -3px 10px rgba(180, 180, 180, 0.1),
    3px 3px 10px rgba(0, 0, 0, 0.5);
  width: 30rem;
  min-height: 20rem;
  padding: 3rem;
  flex: 1 0 auto;
}

.response h2 {
  margin-bottom: 2rem;
  color: grey;
}

.response p {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  flex: 1 0 auto;
}

/* ========== no responses */

.suggestions {
  color: grey;
  display: flex;
  flex-direction: column;
  margin-top: 20%;
}

.suggestions h1 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.suggestions p {
  font-size: 1.8rem;
  line-height: 2.7rem;
}
